
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightcyan;
    color: #333;
    line-height:1.6;
}


header{
    background:black;
    color:white;
    position:sticky;
    top:0;
    z-index:1000;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

.logo{
    font-size:24px;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:#cbd5e1;
    font-weight:bold;
    transition:0.3s;
}

.nav-links a:hover{
    color:white;
}

/* Hero */
.hero{
    background:beige;
    text-align:center;
    padding:60px 20px;
}

.hero h2{
    font-size:32px;
    margin-bottom:10px;
}

.hero p{
    font-size:18px;
}

.section{
    padding:50px 20px;
    max-width:900px;
    margin:auto;
}

.section h2{
    text-align:center;
    margin-bottom:20px;
}

.section p{
    text-align:center;
    font-size:18px;
}


.skill{
    margin:15px 0;
}

.progress{
    width:100%;
    height:20px;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
}

.progress-bar{
    height:100%;
    border-radius:20px;
}

/* Skill Levels */
.html{ width:90%; background:#4caf50; }
.js{ width:75%; background:#2196f3; }
.python{ width:70%; background:#ff9800; }
.java{ width:65%; background:#9c27b0; }

/* Projects */
.projects-container{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.project-card{
    background:beige;
    border:2px solid #000;
    border-radius:10px;
    padding:20px;
    width:250px;
    text-align:center;
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-5px);
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
}


#contact p{
    margin:5px 0;
}


footer{
    background:black;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}
